body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-color: #eee;
  border-radius: 85%;
}

main {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-color: #fff;
  margin: 40px auto;
  padding: 40px auto;
  box-shadow: 1px -1px 10px 1px #bbb;
}

p { 
  word-break: break-all
}

pw-output {

  outline-width: 10px;
  outline-style: dashed;
  outline-color: red;
}

btn btn-danger {
  border-radius: 50%;

}